{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<h1>{{ intro }} </h1> <br> <br>

<form method="post">
  {% csrf_token %} {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    {% for key,value in form.errors.items%}
    <!--{{ key }} -->
    {{ value }} {% endfor %}
  </div>
  {% endif %}
  <div class="form-group">
    {% render_field form.username placeholder=form.username.label %}
    <!--input type="text" placeholder="Username" required /-->
  </div>
  <div class="form-group">
    {% render_field form.password placeholder=form.password.label %}
    <!--input type="password" placeholder="Password" required /-->
  </div>
  <div class="btn-group btn-group-lg group1">
    <button type="submit" class="btn">Login</button>
  </div>
</form>
{% endblock %}
