{% extends 'base.html' %}
{% block content %}
    <div class="row">
      <div class="col-md-12" align="center">
      <a href="{% url 'logout' %}">logout</a>
      </div>
    </div>

    <div class="row">
      <ul class="list-group list-group-horizontal">
        {% for form in friends %}
        <li class="list-group-item m-2" style="background-color: transparent; border-top:None; border-bottom-color: white;">
         {% if form.rpublic %}
         <a href="{% url 'story' form.author.id %}">
         {% else %}
         <a style="color: inherit; text-decotration:inherit;">
          {% endif %}
          {{ form.author }} </a>
         </li>
        {% endfor %}
       
      </ul>
    </div>
{% endblock %}