
<body align="center" style=" font-family: 'Noto Sans Bengali UI', sans-serif !important; background-size: cover; color:white;">
  <table background="https://picsum.photos/200/300/?blur&image=719" style="background-repeat: no-repeat; background-attachment: fixed;background-position: center; background-attachment: fixed;">
{% for sub in data %} 
<div class="form-group do-none">
  <h2 style="margin-bottom: 0px;">
    {{ sub.label }}
  </h2>
  <br />
  <p style="color: #6c757d;">
    {{ sub.help_text|linebreaksbr }}
  </p>
  <p>{{ sub.value|linebreaksbr }}</p>
</div>
{% endfor %}
</table>
</body>