
<body align="center" style="background-repeat: no-repeat; background-attachment: fixed;background-position: center; background-attachment: fixed; font-family: 'Noto Sans Bengali UI', sans-serif !important; background-size: cover; color:white;">
  <table background="https://picsum.photos/200/300/?blur&image=719" style="width: 90%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">

{% for sub in data %} 
<div class="form-group do-none">
  <h2 style="margin-bottom: 0px;">
    {{ sub.label }}
  </h2>
  <br />
  <p style="color: #6c757d;">
    {{ sub.help_text }}
  </p>
  <p>{{ sub.value }}</p>
</div>
{% endfor %}
</table>
</body>