{% extends 'base.html' %} {% block content %} {% load widget_tweaks %}
<br />
<form method="post">
  {% csrf_token %}
  <div id="big-form">
    <!--intro-->
    <div class="form-group do-block">
      <p class="">
        {{ user }}, <br />
        {{ user.intro }}
      </p>
    </div>

    <!--questions-->
    {% for field in form %} {% if field.label != 'Rpublic' and field.label != 'Final res' %}
    <div class="form-group do-none">
      <p class="h4">
        {{ field.label }}
      </p>
      <br />
      <p class="text-muted">
        {{ field.help_text }}
      </p>
      {% render_field field %}
    </div>
    {% endif %} {% endfor %}

    <!--outro-->
    <div class="form-group do-none">
      <p class="">
        {{ user.out }}
        <div class="btn-group btn-group-lg group1">
           <button type="submit">Submit</button>
          </div>
      </p>
    </div>
    {% render_field form.final_res class+='d-none' %}
    <div class="btn-group btn-group-lg group1">
      <button type="button" class="btn prevBtn">Previous</button>
      <button type="button" class="btn nextBtn">Next</button>
    </div>
  </div>
</form>
{% endblock %}

